<h1>Stupid Coaching</h1>

<div>
  <h2><%=params[:question] %></h2>
  <p><%= "-YOU" %></p>
</div>

<div>
  <h2><%= @coach %></h2>
  <p><%= "-YOURE COACH" %></p>
</div>


<%= link_to "Ask a question", "/ask" %>

